.progress-bar {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-transform: capitalize;
    color: #000;
    margin-top: 30px;
    margin-bottom: 40px;
}
.progress-bar > .top {
    display: flex;
    justify-content: space-between;
}

.pg-title {
    font-size: 14px;
    font-weight: 500;
}
.value {
    font-weight: 700;
}
.progress-bar > .bottom {
    display: inline-block;
    width: 100%;
    height: 7px;
    background-color: #eee;
}
.progress-bar > .bottom > .bar {
    width: 90%;
    height: 100%;
}
.progress-bar .bg-orange > .loading {
    width: 0;
    height: 100%;
    background-image: repeating-linear-gradient(
        45deg,
        #fd7c2d 0 5px,
        var(--orange) 5px 10px
    );
    animation-name: loading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.progress-bar .bg-green > .loading {
    width: 0;
    height: 100%;
    background-image: repeating-linear-gradient(
        45deg,
        #03dea7a1 0 5px,
        var(--green) 5px 10px
    );
    animation-name: loading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.progress-bar .bg-light-blue > .loading {
    width: 0;
    height: 100%;
    background-image: repeating-linear-gradient(
        45deg,
        #2ea8fd 0 5px,
        var(--light-blue) 5px 10px
    );
    animation-name: loading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
.progress-bar .bg-pink > .loading {
    width: 0;
    height: 100%;
    background-image: repeating-linear-gradient(
        45deg,
        #f22b88d3 0 5px,
        var(--pink) 5px 10px
    );
    animation-name: loading;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes loading {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
