/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header start */
/* header end */

/* hero start */

.background-col {
    background: #0d69da;
    background: linear-gradient(270deg, #0d69da 27%, #03228f 72%);
}
/* hero end */

/* company logos /w hover #1 start */
.logos1 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.logos1 .logo-link {
    display: flex;
    justify-content: center;
    margin: 0;
    transition: all 0.3s;
}

.logos1 > .row {
    overflow: hidden;
    height: 70px;
}

.logos1 img {
    object-fit: contain;
    width: 100%;
    height: 70px;
}
/* company logos /w hover #1 end */

/* about us start */
/* about us end */

/* about us /w graf start */
/* about us /w graf end */

/* services start */
/* services end */

/* why chose us start */
/* why chose us end */

/* lets talk start */
/* lets talk end */

/* blogs start */
/* blogs end */

/* testimonials start */
/* testimonials end */

/* company logos /w hover #2 start */
.logos2 {
    padding-top: 80px;
    padding-bottom: 80px;
    background: linear-gradient(27deg, #020275, #00005b);
}

.logos2 > .row {
    overflow: hidden;
    height: 70px;
}

.logos2 img {
    object-fit: contain;
    width: 100%;
    height: 70px;
}

.logos2 .logo-link {
    height: 70px;
    display: flex;
    justify-content: center;
    transition: all 0.3s;
}

.logos2 .logo-link:hover {
    height: 140px;
}

.logos2 div {
    position: relative;
}

.logos2 .color-logo {
    z-index: 1;
    filter: grayscale(100%);
    transition: all 0.8s;
}
.logos2 .color-logo:hover {
    filter: grayscale(0%);
}

.logos2 .grey-logo {
    filter: grayscale(100%);
    position: absolute;
    left: 0;
    bottom: 0;
}

/* company logos /w hover #2 end */

/* footer start */
/* footer end */

/* back to top start */
/* back to top end */
