/* base */
@import '../base/base.css';
@import '../base/layout.css';

/* 3rd-party */
@import '../3rd-party/font-awesome.min.css';

/* components */
@import '../components/button.css';

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header start */
.header {
    padding: 20px 0;
    background-color: transparent;
}

.header > .row {
}

.header .col-12 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 30px;
}

.links {
}

.links > a {
    margin: 0 15px;
}

.side-icons {
    display: flex;
    justify-content: flex-end;
}

.header .fa-search {
    line-height: 30px;
    margin-right: 30px;
}

.dots-hamburger {
    display: flex;
    flex-wrap: wrap;
    width: 45px;
    height: 30px;
    font-size: 5px;
}

.fa-circle {
    padding: 3px 5px;
}

.dot1 {
    color: #fff;
}

.dot2 {
    color: var(--light-blue);
}

/* header end */

/* hero start */

.background-col {
    background: #0d69da;
    background: linear-gradient(270deg, #0d69da 27%, #03228f 72%);
}
/* hero end */

/* company logos /w hover #1 start */
/* company logos /w hover #1 end */

/* about us start */
/* about us end */

/* about us /w graf start */
/* about us /w graf end */

/* services start */
/* services end */

/* why chose us start */
/* why chose us end */

/* lets talk start */
/* lets talk end */

/* blogs start */
/* blogs end */

/* testimonials start */
/* testimonials end */

/* company logos /w hover #2 start */
/* company logos /w hover #2 end */

/* footer start */
/* footer end */

/* back to top start */
/* back to top end */
