/* base */
@import "../base/base.css";
@import "../base/layout.css";

/* 3rd-party */
@import "../3rd-party/font-awesome.min.css";

/* components */
@import "../components/button.css";
@import "../components/logo-slider.css";

/* CUSTOM STYLE GOES BELOW THIS COMMENT LINE */

/* header start */
/* header end */

/* hero start */

.background-col {
  background: #0d69da;
  background: linear-gradient(270deg, #0d69da 27%, #03228f 72%);
}
/* hero end */

/* company logos /w hover #1 start */
.logo-slider.no-hover {
  padding-top: 50px;
  padding-bottom: 50px;
  background: #fff;
}
.logo-slider.no-hover img {
  filter: grayscale(0%);
}

.logo-slider.no-hover .logo-link:hover {
  height: 70px;
}
/* company logos /w hover #1 end */

/* about us start */
/* about us end */

/* about us /w graf start */
/* about us /w graf end */

/* services start */
/* services end */

/* why chose us start */
/* why chose us end */

/* lets talk start */
/* lets talk end */

/* blogs start */
/* blogs end */

/* testimonials start */
/* testimonials end */

/* company logos /w hover #2 start */
.logo-slider {
  padding-top: 80px;
  padding-bottom: 80px;
  background: linear-gradient(27deg, #020275, #00005b);
}
/* company logos /w hover #2 end */

/* footer start */
.icon {
}

/* footer end */

/* back to top start */
/* back to top end */
